<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/0b054825-cdad-4eb0-adcb-e528b7428a0b/resourceGroups/group01/providers/Microsoft.ContainerRegistry/registries/garamsapi</ResourceId>
    <ResourceName>garamsapi</ResourceName>
    <ResourceGroup>group01</ResourceGroup>
    <Subscription>Azure subscription 1</Subscription>
    <RegistryUrl>https://garamsapi.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>144fe7e7-3def-4c8e-ac78-05903e61809f</ProjectGuid>
    <_TargetId>AzureContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>